body
{
background-color: pink;
}

#id1
{
background-color: yellow;
color: red;
}

.class1
{
background-color: cyan;
color: silver;
}

button
{
background-color: blue;
color: white;
border-radius: 5px;
}